[client]
default-character-set = utf8mb4

[mysql]
pager = less -SRFX
show-warnings

# Requires WHERE + LIMIT on UPDATE/DELETE
# Blocks multi-table UPDATE/DELETE without keys.
safe-updates

prompt = "\u@\h [\d]> "
